.expand_profile,
.collapse_profile {
  padding: 80px 0px 0px 125px;
  transition: padding 0.5s ease;
}

.expand_profile {
  padding-left: 250px;
}
.profile__container {
  .title_paper_text {
    font-size: 20px;
    font-weight: bold;
    color: #9574f1;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  height: 100%;
  .profile__paper {
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
    .profile__banner {
      background-image: url('../../../assets/images/banner.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
      padding: 50px 0;
      .title_container {
        .banner_avatar_wrap {
          width: 150px;
          height: 150px;
          background-color: rgba(210, 193, 255, 0.5);
          border-radius: 50%;
          margin-right: 20px;
          display: flex;
          align-items: center;
          margin-right: 30px;
          justify-content: center;
          .banner_avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
        }
        .title_wrap{
          .title{
            font-size: 30px;
            font-family: serif;
            font-weight: bold;
            color: #fff;
          }
          .subtitle{
            font-size: 16px;
            font-weight: 500;
            color: #ccc;
          }
        }
        font-size: 30px;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        align-items: center;
      }
      .button_container {
        position: absolute;
        bottom: 50px;
        right: 30px;
        align-items: center;
      }
      .icon-message-wrap {
        background: #9574f1;
        padding: 10px 10px;
        margin-right: 8px;
        .icon-message {
          color: #ffff;
          cursor: pointer;
        }
      }
      .button__public {
        background-color: #9574f1;
        color: #ffff;
        margin-right: 10px;
        &:hover {
          border: 1px solid #ccc;
        }
      }
      .button__group {
        color: #9574f1;
        background-color: #ffff;
        margin-right: 10px;
        &:hover {
          border: 1px solid #ccc;
        }
      }
    }
  }

  .main__layout_container {
    .column__1_container {
      .column__1_paper {
        border: 1px solid #9574f1;
        .aboutText {
          font-size: 20px;
          font-weight: bold;
          color: #9574f1;
          margin-bottom: 10px;
        }
        .infoText {
          font-size: 16px;
          font-weight: 500;
          color: #490057;
          margin-bottom: 10px;
        }
        margin-bottom: 10px;
        padding: 30px;
      }
    }
    .column__2_container{
      .column__2_paper {
        border: 1px solid #9574f1;
      }
    }
    .column__3_container{
      .column__3_paper {
        margin-bottom: 10px;
        padding: 20px;
        border: 1px solid #9574f1;
      }
    }
   
  }
}
