.create_group_dialog {
  &.MuiDialog-root {
    z-index: 3;
  }
  .MuiBackdrop-root {
    background: rgb(51 47 47 / 65%);
  }
  .MuiPaper-root {
    width: 800px;
    height: 550px;
    padding-bottom: 10px;
    max-width: 100%;
    .dialog_title {
      text-align: center;
      p:nth-child(1) {
        font-weight: 600;
        color: #000;
        letter-spacing: 1px;
        font-size: 20px;
        font-family: 'Yeseva One', display;
      }
      p:nth-child(2) {
        color: rgb(142, 110, 81);
        font-weight: 600;
      }
    }
    .dialog_content {
      display: flex;

      .image {
        width: 50%;
        object-fit: contain;
      }
      .box_create {
        width: 50%;
        padding: 30px;
        gap: 16px;
        display: flex;
        flex-direction: column;

        .chat_name_box {
          display: flex;
          align-items: center;
          gap: 20px;
          p {
            font-size: 15px;
            color: #000;
          }
          .MuiInputBase-root {
            color: #000;
            background: #fff;
            width: 100%;
            input {
              padding: 8px 10px;
            }
          }
        }
        .selected_topic {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          p:nth-child(1) {
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 2.6em;
            color: rgb(81, 129, 142);
            font-weight: 600;
          }
          p:nth-child(2) {
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 1px;
            line-height: 2.6em;
            color: rgb(142, 110, 81);
            font-weight: 600;
          }
          span {
            color: #8e6e51;
            margin-top: -10px;
          }
        }
        .topic_box {
          display: flex;
          gap: 10px;
          align-items: center;
          flex-direction: column;
          height: 300px;

          span {
            display: flex;
            width: 100%;
            align-items: center;
            p {
              width: 150px;
            }
            .MuiInputBase-root {
              max-height: 50px;
              width: 100%;
              color: #000;
              background: #fff;
              .MuiSelect-select {
                padding: 8px 10px;
              }
            }
          }
          .topic_child {
            display: flex;
            gap: 10px;
            flex-direction: column;
            padding: 10px 0px;
            overflow-y: auto;
            width: 100%;

            .topic_item {
              cursor: pointer;
              width: 100%;
              padding: 10px;
              display: flex;
              justify-content: center;
              background: aliceblue;
            }
            .selected_topic,
            .topic_item:hover {
              background: #c6dbed;
            }
          }
        }
      }
    }
  }
  .dialog_action {
    button {
      background: #8e6e51;
      color: #fff;
    }
    button:hover {
      opacity: 0.7;
    }
    .disable {
      opacity: 0.5;
    }
  }
}
