.add_image_icon-text {
  &__box {
    margin-bottom: 24px;
    &__icon {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
