.landing_container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;

  .intro_view {
    background: rgb(247, 243, 240);
    // background-position-x: 100%;
    // background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    background-position-y: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../../../../assets/images/background1.png);
    .background_view {
      max-width: 1200px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 60px 0px;
      .box_image {
        position: relative;
        .support {
          width: 300px;
          height: auto;
          object-fit: cover;
        }
        .overthink {
          width: 280px;
          height: 380px;
          object-fit: cover;
          position: absolute;
          z-index: 2;
          left: 100px;

          top: 150px;
        }
      }
      .about_me {
        width: 380px;
        height: auto;
        object-fit: cover;
        border-radius: 40% 40% 0 0;
      }
    }
    .title_lead {
      position: absolute;
      text-align: center;
      top: 20%;
      z-index: 3;
      width: 540px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      p {
        text-align: center;
      }
      p:nth-child(1) {
        letter-spacing: 2px;
      }
      p:nth-child(1),
      p:nth-child(3) {
        font-size: 13px;
      }
      p:nth-child(2) {
        font-size: 28px;
        font-family: 'Yeseva One', display;
        font-weight: 600;
        letter-spacing: 1px;
        -webkit-font-smoothing: antialiased;
      }
      p:nth-child(3) {
        // background-color: rgb(247, 243, 240);
        width: 450px;
      }
    }
  }

  .sologan_topic {
    font-size: 20px;
    font-weight: 600;
  }
  .topic_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0px 10%;
    // .title_background {
    //   color: #212332;
    //   text-align: center;
    //   font-size: 100px;
    //   text-transform: uppercase;
    //   height: 280px;
    //   padding: 60px;
    // }
    .box_title_parent {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 50px 25px;
      .title_parent_topic,
      .title_parent_topic_right {
        font-size: 35px;
        font-weight: 600;
        color: #000;
        width: 20%;
        font-family: 'Yeseva One', display;
      }
      .title_parent_topic_right {
        display: flex;
        justify-content: flex-end;
      }
      .divider {
        width: 80%;
        position: relative;

        svg {
          position: absolute;
          right: -1px;
          bottom: -6px;
        }
      }
      .divider_right {
        width: 80%;
        position: relative;

        svg {
          position: absolute;
          left: -1px;
          bottom: 2px;
        }
      }
      .divider,
      .divider_right::before {
        border-top: 2px solid #000;
        width: 100%;
        // height: 2px;
        display: inline-block;
        content: '';
      }
    }
    .card_topic_child {
      cursor: pointer;
      border-radius: 10px;
      max-width: 350px;
      width: 100%;
      height: 430px;
      background: rgb(215, 226, 224);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
      padding: 30px;
      object-fit: cover;
      margin-bottom: 30px;
      .topic_child_title {
        color: #000;
        position: absolute;
        z-index: 999;
        font-weight: 600;
        bottom: -20px;
        left: 0px;
        font-size: 30px;
        font-family: 'Yeseva One', display;
      }
      .description {
        font-family: Roboto, Helvetica, Arial, Lucida;
        font-size: 13px;
      }
      .image_topic {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
      }

      // .overlay {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   border-radius: 10px;
      //   height: 100%;
      //   background-color: rgba(84, 73, 73, 0.7);
      //   z-index: 2;
      // }
    }
    .card_topic_child:hover {
      transform: scale(1.04);
      // .overlay {
      //   background: transparent;
      // }
    }
    .react-multi-carousel-item {
      display: flex;
      justify-content: center;
    }
    .react-multiple-carousel__arrow--left {
      left: calc(1% + -12px);
    }
    .react-multiple-carousel__arrow--right {
      right: calc(2% + -20px);
    }
    .react-multiple-carousel__arrow {
      z-index: 4;
    }
    .react-multi-carousel-item:not(:has(.card_topic_child)) {
      display: none;
    }
  }
}
