.container_topic_child {
  padding: 60px 160px;
  .title_topic_child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    p:nth-child(1) {
      font-size: 28px;
      font-weight: 600;
    }
    p:nth-child(2) {
      font-size: 13px;
    }
  }
  .topic_child_container {
    // width: 100vw;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    position: relative;
    margin: 30px 0px;
    .box_image_topic {
      position: relative;
      .backgroup_topic {
        width: 400px;
        height: 520px;
        z-index: 1;
        background: #f7f3f0;
        object-fit: cover;
      }
      .image_topic {
        width: 450px;
        height: 450px;
        object-fit: cover;
        position: absolute;
        left: 80px;
        top: 30px;
        z-index: 3;
      }
      // .overlay {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 400px;
      //   height: 520px;
      //   background-color: rgba(84, 73, 73, 0.7);
      //   z-index: 2;
      // }
    }
    .box_topic_child {
      display: flex;
      flex-direction: column;
      padding: 30px 0px 20px;
      gap: 10px;
      p:nth-child(1) {
        letter-spacing: 2px;
      }
      @keyframes topicIn {
        0% {
          transform: translateX(30%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
      .title_topic {
        font-weight: 600;
        font-size: 35px;
        font-family: 'Yeseva One', display;
        animation: topicIn 0.75s ease-in-out;
      }
      .sologan_topic {
        padding-top: 10px;
        font-size: 14px;
        // width: 450px;
      }
      .title_option,
      .title_existing {
        font-size: 14px;
        padding-top: 20px;
      }
      .title_existing {
        margin-top: 20px;
      }
      .box_create {
        display: flex;

        border-radius: 10px;
        gap: 10px;
        button {
          padding: 10px;
        }
        button:nth-child(1) {
          background: rgb(108, 96, 84);
          color: #fff;
        }
        button:nth-child(2) {
          background: #fff;
          color: rgb(108, 96, 84);
          border: 1px solid rgb(108, 96, 84);
        }
        button:nth-child(1):hover,
        button:nth-child(2):hover {
          background: #0d1018;
          color: #fff;
        }
      }
      .view_group {
        padding: 10px;
        background: #0d1018;
        color: #fff;
        width: 185px;
        display: flex;
        gap: 8px;

        svg {
          color: #fff;
        }
      }
      .view_group:hover {
        background: #fff;
        color: #000;
        border: 1px solid #000;
        svg {
          color: #000;
        }
      }
      .rating {
        display: flex;
        gap: 5px;
        padding-top: 10px;
        width: 135px;
        cursor: pointer;
        svg {
          stroke-width: 40px;
          fill: #fff;
          stroke: #000;
          font-size: 23px;
        }
        svg:nth-child(1) {
          stroke-width: 40px;
          fill: #ee4d2d;
          stroke: #ee4d2d;
          font-size: 23px;
          cursor: pointer;
        }
      }
    }
  }
}
