.post-item-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 30px;
  .close-icon{
    position: absolute;
    top: 8px;
    right: 8px;
    color: '#fff';
    cursor: 'pointer';
  }
}
