.post-dt-container {
  padding: 0 100px 100px 100px;
  display: flex;
  flex-direction: row;
  .left-side {
    flex: 1;
      overflow-y: auto;
    max-height: 720px;
    .post-dt-header {
      display: flex;
      justify-content: space-between;
      color: 'white';
      max-height: 100px;
      .post-dt-cardHeader {
        width: 100%;
        justify-content: space-between;
        display: flex;
        .post-dt-cardHeader-title {
          font-size: 20px;
          font-weight: 600;
        }
        .item2 {
          display: flex;
          .like-btn-detail {
            padding-left: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          .liked {
            color: darkviolet;
          }
          .item2-btn {
            margin-left: 8px;
          }
          padding: 10px;
        }
      }
    }
    .postImgAndContent {
      .img {
        max-height: 500px;
        object-fit: contain;
      }
      .content {
        .post-content {
          background-color: rgb(255, 178, 62);
          background-image: linear-gradient(
            268.67deg,
            var(--main-color) 30.69%,
            rgb(255, 163, 26) 55.54%,
            rgb(255, 0, 115) 99%
          );
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
          background-clip: text;
        }
        min-height: 100px;
      }
    }
  }
  .right-side {
    .comments-wrap {
      flex: 1;
      overflow-y: auto;
      max-height: 700px;
    }
    .title-comments {
      font-size: 20px;
      font-weight: 600;
    }
    .itemComments {
      padding-bottom: 10px;
      .userGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .userAvatarGroup {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 10px;
          .userAvatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
          }
          .userName {
            font-size: 15px;
            font-weight: 400;
            padding-left: 4px;
          }
        }
        .commentsDate {
          font-size: 12px;
          color: #8c8c8c;
        }
      }
      .buttonAndTime {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
      }
      .contentWrap {
        display: flex;
        justify-content: space-between;
        .content {
          padding: 10px;
          font-size: 16px;
          font-weight: 500;
          color: black;
        }
        .btn-like {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
