.common-page-container {
  background: #fff;
  height: 100%;
  overflow-y: hidden;
  .route-container {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    position: relative;
    .scroll-to-top {
      position: fixed;
      bottom: 80px;
      right: 60px;
      svg {
        padding: 5px;
        font-size: 40px;
        color: #fff;
        background: #8e6e51;
        border: 1px solid #000;
      }
    }
    .message_tooltip {
      position: fixed;
      bottom: 60px;
      left: 40px;
      font-size: 50px;
      color: #fff;
      fill: #8e6e51;
      z-index: 4;
      cursor: pointer;
      animation: shake 0.5s infinite;
    }

    @keyframes shake {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(10deg);
      }
      75% {
        transform: rotate(-10deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}
