.list_message_container {
  min-width: 300px;
  width: 300px;
  //   border: 1px solid #8e6e51;
  padding: 10px 10px 20px;
  left: 70px;
  bottom: 150px;
  border-radius: 10px 10px 10px 0px;
  background: #e1d3c7;
  .list_chat_box {
    height: calc(100vh - 380px);
    .list_box {
      gap: 0px;
      .chat_item {
        border-bottom: 1px solid #8e6e51;
      }
    }
  }
}
.list_message_collap {
  left: 30px;
  bottom: 120px;
  .list_chat_box {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .list_box {
      gap: 0px;
      background: #fff;
      border-radius: 50px;

      .collapse_chat_item {
        .active_avatar {
          .avatar:hover {
            border: #8e6e51 3px solid;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.list_message_container::before {
  border-bottom: 20px solid transparent;
  border-left: 20px solid #e1d3c7;
  border-left-color: #e1d3c7;
  border-right: 20px solid transparent;
  border-top: 20px solid #e1d3c7;
  border-top-color: #e1d3c7;
  bottom: -35px;
  content: '';
  left: 0;
  position: absolute;
}
.disable_list {
  display: none;
}
.visible_list_message {
  opacity: 1 !important;
}
.list_message_container,
.list_message_collap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: fixed;
  z-index: 4;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  .title_chat {
    font-weight: 600;
    font-size: 15px;
    height: 17px;
  }
  .chat_option {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-radius: 8px;
    gap: 8px;

    box-shadow: 0 14px 54px rgba(0, 0, 0, 0.03);
    .search {
      width: 100%;
      .MuiInputBase-root {
        background: #fff;
        input {
          padding: 6px 0px 4px 10px;
        }
      }
    }
    // svg {
    //   padding: 4px;
    //   width: 35px;
    //   height: 30px;
    //   border-radius: 8px;
    //   background: #fff;
    //   color: #000;
    //   cursor: pointer;
    // }
  }
  .tab_option {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #b68861;
    .tab_item {
      display: flex;
      gap: 5px;
      padding: 8px 5px;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      p,
      svg {
        font-family: var(--font-family-common);

        path {
        }
      }
    }
    .tab_selected {
      background: #d09865;
    }
  }
  .list_chat_box {
    overflow-y: auto;

    .list_box {
      display: flex;
      flex-direction: column;

      .show_more {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          font-size: 40px;
          cursor: pointer;
        }
      }
      .no_data {
        text-align: center;
        border-bottom: 1px solid #8e6e51;
        padding-bottom: 10px;
      }
      .chat_item,
      .collapse_chat_item {
        display: flex;
        gap: 8px;
        cursor: pointer;
        min-height: 70px;
        .active_avatar {
          position: relative;
          .MuiAvatar-root {
            width: 50px;
            height: 50px;
          }
          .online,
          .offline {
            position: absolute;
            right: -1px;
            bottom: -3px;
            font-size: 16px;
            path {
              opacity: 1;
            }
            path:nth-child(2) {
              color: #fff;
            }
          }
          .online {
            color: rgb(49, 162, 76);
          }
          .offline {
            color: #7f1d1d;
          }
        }
        .chat_text_item {
          width: 60px;
          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
          }
          .notifi {
            font-weight: 600;
            color: #98abce;
          }
          p:nth-child(2) {
            color: var(--item-color);
            font-size: 14px;
          }
        }
        .dot {
          color: var(--main-color);
          font-size: 16px;
        }
        .not_notifi {
          opacity: 0;
        }
        .time_item {
          color: var(--item-color);
          font-size: 14px;
        }
      }
      .chat_item:hover {
        opacity: 0.7;
        background: #8e6e51;
        border-radius: 5px;
      }
      .selected_chat {
        background: #8e6e51;
        border-radius: 5px;
      }
    }
  }
}
