.postitem_container {
  padding: 40px 60px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  width: 100%;
  .image_right {
    flex-direction: row-reverse;
    .box_card_content {
      .quotes {
        position: absolute;
        left: -21px;
        top: -22px;
        font-size: 57px;
        color: #b8b8c3;
      }
    }
  }

  .image_left {
    flex-direction: row;
    .box_card_content {
      .quotes {
        position: absolute;
        right: -21px;
        top: -22px;
        font-size: 57px;
        color: #b8b8c3;
      }
    }
  }
  .card_post {
    background: #fff;
    color: #fafcfb;
    min-width: 300px;
    height: 100%;
    display: flex;
    height: 400px;
    box-shadow: 0px 20px 90px #f7f3f0;
    max-width: 1200px;
    width: 100%;
    .image {
      height: 100%;
      min-width: 300px;
      object-fit: cover;
      width: 50%;
    }
    .box_card_content {
      width: 50%;
      display: flex;
      flex-direction: column;
      color: #000;
      padding: 40px;
      position: relative;

      .topic_name {
        display: block;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 2.6em;
        color: rgb(142, 110, 81);
        font-weight: 600;
      }

      .title {
        font-weight: 600;
        color: #000;
        letter-spacing: 1px;
        font-size: 26px;
        font-family: 'Yeseva One', display;
      }
      .mention {
        // font-size: 16px;
        // text-transform: capitalize;
        // font-family: 'Yeseva One', display;
        // font-weight: bold;
        // margin: 8px 0;
        // font-weight: 500;
        // color: rgb(142, 110, 81);
      }
      .date {
        padding-top: 5px;
        font-family: Roboto, Helvetica, Arial, Lucida, sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
      }
      span {
        color: rgb(142, 110, 81);
      }
      .content {
        padding-top: 15px;
        font-size: 13px;
        max-height: 135px;
        text-align: justify;
        overflow: hidden;
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      button {
        margin-top: 20px;
        padding: 6px;
        display: flex;
        gap: 6px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: rgb(247, 243, 240);
        width: 150px;
        border-radius: 0px;
        color: #000;
      }
    }
  }
}
