.postdetail_dialog {
  position: relative;
  &.MuiDialog-root {
    z-index: 3;
  }
  .MuiBackdrop-root {
    background: rgb(51 47 47 / 65%);
  }
  .MuiPaper-root {
    width: 70vw;
    height: 80vh;
    max-width: 100%;
    max-height: 100%;

    .grid_container {
      height: 80vh;
      overflow-y: hidden;
      .image {
        height: calc(100% - 8px);
        img {
          width: 100%;
          height: 80vh;
          object-fit: cover;
        }
      }
      .post_infor {
        display: flex;
        flex-direction: column;
        height: 100%;
        .infor_user {
          display: flex;
          padding: 10px 14px;
          align-items: flex-start;
          border-bottom: 1px solid rgb(239, 239, 239);
          justify-content: space-between;
          position: relative;

          .active_avatar {
            display: flex;
            gap: 8px;
            align-items: flex-start;
            position: relative;
            .avatar {
              cursor: pointer;
            }
            .select_status {
              p:nth-child(1) {
                color: #000;
                font-size: 14px;
                font-weight: 600;
              }
              .link_title:hover {
                opacity: 0.7;
                cursor: pointer;
              }
              .hashtag {
                padding-top: 3px;
                font-weight: 600;
              }
              p {
                font-size: 10px;
              }
              .select {
                .MuiSelect-select {
                  padding: 0px 25px 0px 4px;
                  font-size: 10px;
                  ul {
                    li {
                      padding: 4px;
                    }
                  }
                }
              }
            }
            .online,
            .offline {
              position: absolute;
              left: 26px;
              top: 25px;
              font-size: 20px;
              path {
                opacity: 1;
              }
              path:nth-child(2) {
                color: #fff;
              }
            }
            .online {
              color: rgb(49, 162, 76);
            }
            .offline {
              color: #7f1d1d;
            }
          }
          .edit {
          }
          button {
            padding: 2px;
            min-width: 30px;
          }
          svg {
            font-size: 20px;
            cursor: pointer;
          }
          .delete {
            color: red;
          }
        }
        .list_comment_container {
          max-height: calc(100% - 200px);

          overflow-y: auto;
          height: 100%;
          padding: 10px 14px 10px 14px;
          border-bottom: 1px solid rgb(239, 239, 239);
          .content_post {
            padding: 10px 0px;
            display: flex;
            gap: 12px;
            .active_avatar {
              position: relative;
              .avatar {
                cursor: pointer;
              }
              .online,
              .offline {
                position: absolute;
                left: 26px;
                top: 25px;
                font-size: 20px;
                path {
                  opacity: 1;
                }
                path:nth-child(2) {
                  color: #fff;
                }
              }
              .online {
                color: rgb(49, 162, 76);
              }
              .offline {
                color: #7f1d1d;
              }
            }
            .content {
              display: flex;
              flex-direction: column;
              gap: 8px;
              p {
                font-family: Roboto, Helvetica, Arial, Lucida, sans-serif;
              }
              p:nth-child(1) {
                font-size: 13px;
              }
              p:nth-child(2) {
                font-size: 13px;
                letter-spacing: 1px;
              }
            }
          }
          .list_comment {
            .comment_item_box {
              display: flex;
              gap: 12px;
              padding: 10px 0px 10px 15px;
              .active_avatar {
                position: relative;
                .avatar {
                  cursor: pointer;
                }
                .online,
                .offline {
                  position: absolute;
                  left: 26px;
                  top: 25px;
                  font-size: 20px;
                  path {
                    opacity: 1;
                  }
                  path:nth-child(2) {
                    color: #fff;
                  }
                }
                .online {
                  color: rgb(49, 162, 76);
                }
                .offline {
                  color: #7f1d1d;
                }
              }
              .comment_item {
                .comment_content {
                  display: flex;
                  align-items: flex-start;
                  gap: 10px;
                  .link,
                  p:nth-child(1) {
                    font-weight: 600;
                    font-size: 14px;
                    font-stretch: 100%;
                    vertical-align: top;
                  }
                  .link:hover {
                    cursor: pointer;
                    opacity: 0.7;
                  }
                  p:nth-child(2) {
                    overflow-wrap: break-word;
                    text-align: left;
                    word-break: break-all;
                    font-size: 14px;
                    white-space: pre-line;
                  }
                }
                .box_edit_comment {
                  display: flex;
                  gap: 5px;
                  align-items: center;
                  .MuiInputBase-root {
                    padding: 0px;
                    max-height: 100px;
                    overflow-y: auto;
                    width: 100%;
                    textarea {
                      min-height: 40px;
                      padding: 2px 5px;
                      font-size: 14px;
                    }
                    // fieldset {
                    //   border: none;
                    // }
                  }
                  .disable_done {
                    opacity: 0.6;
                    cursor: default;
                  }
                  svg {
                    font-size: 18px;
                    cursor: pointer;
                  }
                  svg:nth-child(2) {
                    color: rgb(98, 218, 98);
                  }
                  svg:nth-child(3) {
                    color: red;
                  }
                }
                .time_content {
                  display: flex;
                  gap: 8px;
                  p {
                    font-size: 12px;
                  }
                  p:nth-child(2):hover {
                    cursor: pointer;
                    opacity: 0.6;
                  }
                  p:nth-child(3):hover {
                    cursor: pointer;
                    opacity: 0.6;
                  }
                }
              }
            }
          }
        }
        .action_post {
          padding: 10px 14px;
          .action_post_item {
            display: flex;
            gap: 15px;
            padding-bottom: 5px;
            .liked {
              color: red;
            }
            svg {
              font-size: 25px;
              cursor: pointer;
            }
            svg:nth-child(2) {
              transform: scaleX(-1);
            }
          }
          p:nth-child(2) {
            font-weight: 600;
          }
          p:nth-child(3) {
            font-size: 14px;
          }
        }
        .comment_action {
          padding: 10px 14px;
          display: flex;
          gap: 10px;
          align-items: center;
          border-top: 1px solid rgb(239, 239, 239);
          max-height: 180px;
          min-height: 50px;
          position: relative;
          .emoiji {
            position: absolute;
            bottom: 2px;
            left: -358px;
            width: 200px;
          }
          svg {
            cursor: pointer;
            font-size: 23px;
            margin: 0px 2px;
          }
          .MuiFormControl-root {
            width: 100%;
            .MuiInputBase-root {
              padding: 0px;
              max-height: 170px;
              overflow-y: auto;
              textarea {
                background: #fff;
                padding: 6px 0px 6px 10px;
                color: #4e565f;
                border-radius: 5px;
                font-size: 14px;
                max-height: 43px;
              }
              fieldset {
                border: none;
              }
            }
          }
          button {
            text-transform: capitalize;
            color: rgb(0, 149, 246);
            background: transparent;
            padding: 0px;
            min-width: 40px;
          }
          .button_disable {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
