.container-contact-us {
  background-color: #0d1018;
  color: #ffffff;
  height: 100vh;
  .grid-contact-us {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    .card-contact-us {
      background-color: #000000;
      color: #ffffff;
      margin-bottom: 20px;
    }
    .btn-wrap {
      display: flex;
      justify-content: flex-end;
      .button-Send {
        background-color: #000000;
        color: #ffffff;
        padding: 10px 20px;
        margin-bottom: 10px;
      }
      :hover {
        background-color: #ffffff;
        color: #000000;
      }
    }
  }
}
