.expand_header {
  padding-left: 250px;
}
.collapse_header {
  padding-left: 100px;
}
.header_container,
.expand_header,
.collapse_header {
  display: flex;
  border-bottom: solid 2px var(--color-gray);
  height: 65px;
  background: #fff;
  position: fixed;
  z-index: 5;
  width: 100vw;
  transition: padding-left 0.5s ease;
  .grid_container {
    background: #4c3b7d;
    border-radius: 10px;
    .header-bar {
      display: flex;
      gap: 20px;
      align-items: center;
      padding-left: 20px;
      justify-content: right;
      .search {
        .MuiInputBase-root {
          width: 410px;
          background: #fff;
          border-radius: 15px;
          input {
            padding: 8px 0px 8px 5px;
          }
        }
        .Mui-focused .MuiOutlinedInput-notchedOutline {
          border: 2px solid #fff;
        }
      }
    }
    .info-bar {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .menu-bar {
        display: flex;
        gap: 15px;
        padding: 0px 20px;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        max-width: 300px;
        svg {
          display: flex;
          cursor: pointer;
          font-size: 22px;
          color: #fff;
        }
        .user-name {
          font-size: 12px;
        }
      }
    }
  }
}
.custom-paper {
  top: 45px !important;
  right: 100px;
  left: auto !important;
  overflow: visible;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32));
  margin-top: 1.5rem;
  .MuiAvatar-root {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
