.header-container {
  display: flex;
  border-bottom: solid 2px var(--color-gray);
  padding-left: 250px;
  height: 70px;
  background: #fff;
  .header-bar {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 20px;
    p {
      // color: var(--color-menu-font);
      font-size: 16px;
      text-transform: uppercase;
    }
    p:hover {
      color: var(--main-color);
      cursor: pointer;
    }
  }
  .info-bar {
    display: flex;
    align-items: center;

    .search {
      .MuiInputBase-root {
        input {
          padding: 6px 0px 4px 5px;
        }
      }
      .Mui-focused .MuiOutlinedInput-notchedOutline {
        border: 2px solid var(--main-color);
      }
    }
    .menu-bar {
      display: flex;
      gap: 10px;
      padding: 0px 30px 0px 20px;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      max-width: 300px;
      svg {
        display: flex;
        cursor: pointer;
        font-size: 22px;
        // color: var(--color-menu-font);
      }
    }
  }
}
.custom-paper {
  top: 45px !important;
  right: 100px;
  left: auto !important;
  overflow: visible;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32));
  margin-top: 1.5rem;
  .MuiAvatar-root {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
