.video_call_container {
  .MuiPaper-root {
    width: 100%;
    height: 100%;
    max-height: 680px;
    max-width: 1000px;
    background: #0d1018;
    border-radius: 10px;

    .dialog-content {
      .video_box {
        display: flex;
        height: 400px;
        gap: 10px;
        .video_view {
          position: relative;
          z-index: 1;
          width: 50%;
          .video {
            width: 100%;
            height: 100%;
          }
          .overlay {
            left: 0;
            top: 0;
            position: absolute;
            z-index: 2;
            background: #0d1018;
            width: 100%;
            height: 100%;
          }
        }
      }
      .in_call,
      .timer {
        color: #fff;
        font-size: 20px;
        text-align: center;
      }

      .action_box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 75px 100px 0px;
        gap: 20px;
        button {
          display: flex;
          flex-direction: column;
          gap: 6px;
          color: #fff;
        }
        .muted-call {
          border-radius: 50%;
          svg {
            font-size: 35px;
          }
        }
        .reject_call {
          svg {
            font-size: 50px;
            border-radius: 50%;
            padding: 8px;
            color: #fff;
            background: red;
          }
        }
        .accept_call {
          svg {
            color: #fff;
            font-size: 50px;
            background: rgb(51, 172, 51);
            border-radius: 50%;
            padding: 8px;
            animation: shake 0.5s infinite;
          }
        }
        @keyframes shake {
          0% {
            transform: rotate(0deg);
          }
          25% {
            transform: rotate(10deg);
          }
          75% {
            transform: rotate(-10deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}
