.rating_container {
  &.MuiDialog-root {
    z-index: 3;
  }
  .MuiBackdrop-root {
    background: rgb(51 47 47 / 65%);
  }
  .MuiPaper-root {
    width: 350px;
    height: 340px;
    max-width: 100%;
    max-height: 100%;
    .dialog_title {
      text-align: center;

      font-weight: 600;
      color: #000;
      letter-spacing: 1px;
      font-size: 22px;
      font-family: 'Yeseva One', display;
    }
    .dialog_content {
      display: flex;
      gap: 20px;
      align-items: center;
      flex-direction: column;
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        p:nth-child(2) {
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 15px;
          font-family: 'Yeseva One', display;
        }
      }
      .vote {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        svg {
          font-size: 50px;
          color: #007bff;
          background: #cfe9e0;
          padding: 9px;
          border-radius: 50%;
        }
      }
      .box_star {
        display: flex;
        gap: 5px;
        .star {
          font-size: 30px;
          stroke-width: 40px;
          fill: #fff;
          stroke: #000;
          cursor: pointer;
          transition: color 0.3s ease-in-out;

          // &:hover {
          //   fill: #ee4d2d;
          //   stroke: #ee4d2d;
          // }
        }
        .hovered {
          fill: #ee4d2d;
          stroke: #ee4d2d;
        }
      }
      button {
        width: 130px;
        background: #8e6e51;
        color: #fff;
        &:hover {
          opacity: 0.7;
        }
      }
      .disable {
        background: #d4c6b8;
      }
    }
  }
}
