.list_topic_container {
  width: 100vw;
  padding: 60px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .title_topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    p:nth-child(1) {
      font-size: 28px;
      font-weight: 600;
    }
    p:nth-child(2) {
      font-size: 13px;
    }
  }
  .no_data {
    padding: 40px;
    p {
      font-family: Roboto, Helvetica, Arial, Lucida, sans-serif;
      font-size: 20px;
      letter-spacing: 1px;
      color: rgb(104, 115, 133);
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 1px solid rgb(104, 115, 133);
    }
  }
  .container_item {
    width: 100%;
    justify-content: center;
    .grid_item {
      display: flex;

      justify-content: center;
      .card_topic_child {
        cursor: pointer;
        border-radius: 10px;
        max-width: 350px;
        width: 100%;
        height: 430px;
        background: rgb(215, 226, 224);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        padding: 30px;
        object-fit: cover;
        margin-bottom: 30px;
        .topic_child_title {
          color: #000;
          position: absolute;
          z-index: 999;
          font-weight: 600;
          bottom: -20px;
          left: 0px;
          font-size: 30px;
          font-family: 'Yeseva One', display;
        }
        .description {
          font-family: Roboto, Helvetica, Arial, Lucida;
          font-size: 13px;
        }
        .image_topic {
          width: 100%;
          height: 300px;
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }
    .load_topic {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80px;
      svg {
        animation: spin 1s infinite linear;
        font-size: 30px;
        opacity: 0.8;
      }
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
