.manage_user_container {
  padding: 30px 20px 20px 260px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .user_title {
    display: flex;
    align-items: center;
    gap: 30px;
    .titel_a1 {
      font-size: 25px;
      font-weight: 600;
    }
    svg {
      font-size: 30px;
      border-radius: 50%;
      background: rgb(62, 67, 150);
      color: #fff;
      padding: 6px;
      cursor: pointer;
      path {
        stroke: #fff;
      }
    }
  }
  .titel_a2 {
    padding-top: 12px;
  }
  .warning {
    display: flex;
    gap: 10px;
    border: red solid 1px;
    align-items: center;
    padding: 6px 20px;
    border-radius: 5px;
    color: #7f1d1d;
    background: #fef2f2;
    margin: 12px 0px;
    svg {
      font-size: 15px;
    }
  }
  .table_container_head {
    border-radius: 6px;
    min-height: 60px;
    .MuiTable-root {
      max-height: 60px;
      .table_head {
        .MuiTableRow-root {
          background: rgb(31, 42, 64);

          .MuiTableCell-root {
            color: #fff;
            max-height: 60px;
          }
          .cell_no {
            width: 10%;
          }
          .cell_name {
            width: 20%;
          }
          .cell_age {
            width: 15%;
          }
          .cell_email {
            width: 35%;
          }
          .cell_action {
            width: 20%;
          }
        }
      }
    }
  }
  .table_container_body {
    height: 100%;
    .table_body {
      .MuiTableRow-root {
        background: #fdfcfa;
        .MuiTableCell-root {
          color: #000;
        }
        .cell_no {
          width: 10%;
        }
        .cell_name {
          width: 20%;
        }
        .cell_age {
          width: 15%;
        }
        .cell_email {
          width: 35%;
        }
        .cell_action {
          width: 20%;
          button {
            font-size: 12px;
            border-radius: 5px;
            color: #fff;
          }
          .ban {
            background: rgb(61, 165, 138);
          }
          .un_ban {
            background: #fef2f2;
            color: #7f1d1d;
            border: red solid 1px;
          }

          button:nth-child(2) {
            border: #000 solid 1px;
            border-radius: 5px;
            color: #000;
            background: #fff;
            margin-left: 10px;
            gap: 5px;
            svg {
              margin-bottom: 1px;
            }
          }
        }
      }
    }
  }
  .table_pagination {
    min-height: 55px;
    background: rgb(31, 42, 64);
    border-radius: 6px;
    color: #fff;
  }
}
