.column__1_paper_about{
    border: 1px solid #9574f1;
    .aboutText {
      font-size: 20px;
      font-weight: bold;
      color: #9574f1;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    .infoText {
      font-size: 16px;
      font-weight: 500;
      color: #490057;
      margin-bottom: 10px;
    }
    .iconAbout{
      color: #9574f1;
    }
    margin-bottom: 10px;
    padding: 20px;
  }