.sidebar_container_admin {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 230px;
  left: 0;
  top: 0;
  z-index: 3;
  height: 100vh;
  // box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 10px #cdd1e1;
  background: rgb(31, 42, 64);
  .logo_sidebar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 20px;
    // background: #4c3b7d;
    border-radius: 12px;
    margin: 1px 4px;
    // justify-content: space-between;
    .title_logo {
      p:nth-child(1) {
        font-size: 23px;
        color: #fff;
        font-family: Poppins;
      }
      p:nth-child(2) {
        color: var(--main-color);
        font-family: Poppins;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
      }
    }
    img {
      width: 54px;
      height: 54px;
      object-fit: cover;
      background: #fff;
      border-radius: 15px;
      margin: 4px 0px;
    }
  }
  .admin_infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 20px;
    .MuiAvatar-root {
      width: 80px;
      height: 80px;
    }
    p:nth-child(2) {
      font-size: 25px;
      font-weight: 600;
      color: rgb(216, 216, 216);
    }
    p:nth-child(3) {
      font-size: 14px;
      color: rgb(76, 206, 172);
    }
  }
  .list_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 14px 10px;
    li {
      display: flex;
      gap: 20px;
      cursor: pointer;
      transition: all 0.35s ease-in-out;
      color: #000;
      padding: 9px 30px;
      svg {
        font-size: 18px;
        color: rgb(216, 216, 216);
      }
      p {
        font-size: 16px;
        font-family: 'Plus Jakarta Sans';
        color: rgb(216, 216, 216);
      }
    }
    .active-bar,
    li:hover {
      background: rgba(172, 167, 234, 0.17);
      border-radius: 5px;
      p,
      svg {
        color: var(--main-color);
      }
    }
  }
  hr {
    padding-top: 20px;
  }
  .list-item:last-child {
    justify-content: center;
  }
  .list_item_setting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 15px 10px;

    span {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      width: 100%;
      justify-content: center;
      color: rgb(216, 216, 216);
      padding: 7px 28px;
      p {
        font-size: 15px;
        letter-spacing: 1px;
      }
      svg {
        font-size: 30px;
        padding: 5px;
        border-radius: 10px;
        color: rgb(216, 216, 216);
      }
    }
    span:hover {
      cursor: pointer;
      background: rgba(172, 167, 234, 0.17);
      border-radius: 5px;
      p,
      svg {
        color: var(--main-color);
      }
    }
  }
}
