.post-item-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 30px;
  .no-post {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
  .close-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: '#fff';
    cursor: 'pointer';
  }
  .post-item {
    cursor: pointer;
    .count-group {
      .comment-count {
        background-color: rgb(255, 178, 62);
        background-image: linear-gradient(
          268.67deg,
          var(--main-color) 30.69%,
          rgb(255, 163, 26) 55.54%,
          rgb(255, 0, 115) 99%
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        background-clip: text;
      }
      .like-count {
        background-color: rgb(255, 178, 62);
        background-image: linear-gradient(
          268.67deg,
          var(--main-color) 30.69%,
          rgb(255, 163, 26) 55.54%,
          rgb(255, 0, 115) 99%
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        background-clip: text;
      }
    }
  }
}
