.post-item-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 30px;
  .no-post{
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
  .close-icon{
    position: absolute;
    top: 8px;
    right: 8px;
    color: '#fff';
    cursor: 'pointer';
  }
  .post-item{
    cursor: pointer;
  }
}
