.community_container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0px 100px;
  .option_box {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 30px 50px 0px;
    justify-content: flex-end;
    .select {
      background: #fff;
      min-width: 150px;
    }
    .create {
      color: #8e6e51;
      font-size: 40px;
      cursor: pointer;
    }
  }
  .title_box {
    margin: 50px 0px 0px;
    position: relative;
    .title_backgroud {
      color: #212332;
      text-align: center;
      font-size: 100px;
      text-transform: uppercase;
      padding-bottom: 30px;
    }
    .title_group {
      position: absolute;
      color: var(--main-color);
      font-size: 25px;
      top: 32%;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      strong {
        color: #fafcfb;
      }
    }
  }
}
