.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background: rgb(247, 243, 240);
  .footer_first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px;
    .footer_grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title {
        font-weight: 600;
      }
      .content {
        p {
          font-size: 13px;
        }
        button {
          background: #000;
          color: #fff;
          width: 300px;
          margin-top: 20px;
          font-family: Roboto, Helvetica, Arial, Lucida;
        }
      }
    }
  }
  .footer_second {
    padding: 10px;
    background: #000;
    color: #fff;
    width: 100%;
    p {
      text-align: center;
      font-size: 10px;
      strong {
        color: rgb(142, 110, 81);
      }
    }
  }
}
