.home-page-container {
  background: var(--color-gray);
  height: 100%;
  .new-feed-container {
    display: flex;
    .new-feed {
      padding-left: 250px;
    }
  }
  .scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 50px;
    svg {
      border-radius: 50%;
      padding: 5px;
      font-size: 40px;
      color: #fff;
      background: var(--main-color);
    }
  }
}
